<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Documento sin títulººo</title>
</head>

<body>
<p><strong>PHOTOSHOP CC</strong></p>
<p>5 licencias de dispositivo 	Disponible<br>
  2CSV-12-15.local 	En activo 	<br>
  
  2CSV-13-1.local 	En activo 	<br>
  
  2CSV-13-11.local 	En activo <br>
  
  2CSV-13-13.local 	En a11ctivo 	<br>
  
  2CSV-13-14.local 	En activo 	<br>	
  2CSV-13-18.local 	En activo 	<br>	
  2CSV-13-2.local 	En activo 	<br>	
  2CSV-13-3.local 	En activo 	<br>	
  2CSV-13-4.local 	En activo 	<br>	
  2CSV-13-5.local 	En a11ctivo 	<br>	
  2CSV-13-8.local 	En activo 	<br>	
  Cine_02 	En activo 	<br>	
  CSV_02_1 	En activo 	<br>	
  CSV_02_10 	En activo 	<br>	
  CSV_02_11 	En activo 	<br>	
  CSV_02_12 	En activo 	<br>	
  CSV_2_2 	En activo 	<br>	
  CSV_2_3 	En activo 	<br>	
  CSV_2_4 	En activo 	<br>	
  CSV_2_5 	En activo 	<br>	
  CSV_2_6 	En activo 	<br>	
  CSV_2_7 	En activo 	<br>	
  CSV_2_8 	En activo 	<br>	
  CSV_2_9 	En activo 	<br>	
  Trazoss-Mac-Pro-2.local 	En activo <br>		
Trazoss-STAFF-1.local 	En activo 	</p>
<p>&nbsp;</p>
<p><strong>CRATIVE CLOUD</strong></p>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-if="showAvailableDevicesRow">
      <td><span ng-pluralize="" count="availableLicenses" when="{ 						'one':'1 licencia de dispositivo', 						'other':'3 licencias de dispositivo' 						}">3 licencias de dispositivo</span></td>
      <td colspan="3"><span translate="">Disponible</span> <a href="http://adobe.com/go/device_license_es#activate" target="_blank" translate="">Cómo activar un dispositivo</a></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-1.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-10.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-12.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-13.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-14.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-15.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-16.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-2.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-3.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-4.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-5.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-6.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-7.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-8.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-11-9.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV-14-2.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> 2CSV1117.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Aula3_1 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Aula3_4 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Aula3_6 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Cine_01 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_1 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_10 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_11 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_12 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_2 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_3 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_4 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_5 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_6 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_7 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_8 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_01_9 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_3_08 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_3_2 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_1 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_4 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_5 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_6 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_7_ </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> CSV_4_8 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> csv_4_9 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> DESKTOP-LQ2MF59 </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> iMac-de-FRAN.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> iMac-de-iMac-2.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-14-1.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-14-3.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-14-4.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-14-5.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-14-8.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-2CSV-15-1.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> MAC-CSV2-14-6.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Mac-Pro-de-Trazos-2.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Profesor-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazos-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazos-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazos-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazos-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazos-HP </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<table ng-if="devices.data.length || showAvailableDevicesRow">
  <tbody>
    <tr ng-repeat="device in devices.data">
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
    <tr ng-repeat="device in devices.data">
      <td> Trazoss-Mac-Pro.local </td>
      <td><span ng-class="device.statusIconClass"> En activo </span></td>
      <td></td>
      <td><span dl-popover="" popover-arrow="top-right"> </span></td>
    </tr>
  </tbody>
</table>
<span dl-popover="" popover-arrow="top-right"> </span>
<p>&nbsp;</p>
<p><br>
</p>	

</body>
</html>
